<style>
  body{
    background: #eee;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #fcfcfc;
  font-weight: 600;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid fw-bold">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="#">Home</a>&nbsp;&nbsp;
        <a class="nav-link" href="#">Features</a>&nbsp;&nbsp;
        <a class="nav-link" href="#">Pricing</a>&nbsp;&nbsp;
        <a class="nav-link disabled text-secondary" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>



<div class="container mb-5 mt-5">
  <div class="row">
      <div class="col-md-10 col-md-offset-3">
          <div class="card border-secondary">
              <div class="card-image">
                  <img class="img-responsive w-100" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
                  <p class="card-title ps-4 pt-4 display-6">Material Cards</p>
              </div>
              
              <div class="card-content ps-4 pt-4">
                  <p class="display-6">Cards for display in portfolio style material design by Google.</p>
              </div>
              
              <div class="card-action ps-4 pb-4 bg-secondary pt-2">
                  <a href="# " target="new_blank">Link</a>&nbsp;&nbsp;
                  <a href="#" target="new_blank">Link</a>&nbsp;&nbsp;
                  <a href="#" target="new_blank">Link</a>&nbsp;&nbsp;
                  <a href="#" target="new_blank">Link</a>&nbsp;&nbsp;
                  <a href="#" target="new_blank">Link</a>&nbsp;&nbsp;
              </div>
          </div>
      </div>
  </div>
</div>

<div class="jumbotron mb-5 mt-5">
  <div class="row w-100">
          <div class="col-md-3">
              <div class="card border-info mx-sm-1 p-3">
                  <div class="card border-info shadow text-info p-3 my-card" ><span class="fw-bold" aria-hidden="true">A</span></div>
                  <div class="text-info text-center mt-4"><h4>Cars</h4></div>
                  <div class="text-info text-center mt-2"><h1>234</h1></div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card border-success mx-sm-1 p-3">
                  <div class="card border-success shadow text-success p-3 my-card"><span class="fw-bold" aria-hidden="true">B</span></div>
                  <div class="text-success text-center mt-4"><h4>Eyes</h4></div>
                  <div class="text-success text-center mt-2"><h1>9332</h1></div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card border-danger mx-sm-1 p-3">
                  <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fw-bold" aria-hidden="true">C</span></div>
                  <div class="text-danger text-center mt-4"><h4>Hearts</h4></div>
                  <div class="text-danger text-center mt-2"><h1>346</h1></div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="card border-warning mx-sm-1 p-3">
                  <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fw-bold" aria-hidden="true">D</span></div>
                  <div class="text-warning text-center mt-4"><h4>Inbox</h4></div>
                  <div class="text-warning text-center mt-2"><h1>346</h1></div>
              </div>
          </div>
       </div>
  </div>



<div class="bg-light text-center text-lg-start mt-auto footer">

    <div class="text-center p-3 bg-light">
      © 2020 Copyright:
      <a class="text-dark" href="#">example.com</a>
    </div>
  </div>